/* 
    Created on : 6 Οκτ 2015, 12:47:38 πμ
    Author     : Alexander Patras
*/


/* Background Color */
body {
    background-color: #d4d4d4;
}

/* Small adjusments to elements */
h2 {
    margin-top: 5px;
}

.header {
    margin-top: 100px;
}

/* Color of each panel - row */
.row {
    background-color: #fff;
}

/* Photo horizontal alignment */
.photo-col {
    margin-top: 75px;
}


/* Photo Fix for screens under 991px */
@media screen and (max-width: 991px) {
    .photo {
        max-width: 131px;
    }
}